.box1{
    width: 300px;
    background-color: lightcoral;

    padding: 20px;
    border: 4px solid red;
    margin : 30px;
   
}
.box2{

    width: 300px;
    background-color: rgb(137, 240, 128);

    padding: 40px;
    border: 4px solid rgb(31, 240, 24);
    margin : 10px

}

.block{
    display: block;
    background-color: aquamarine;
    padding: 10px;
    margin: 10px 0;
}
.Inline{
    display: inline;
    background-color: rgb(48, 124, 124);
    padding: 10px;
}

.inline-block{
    display: inline-block;
    width: 120px;
    height: 80px;
    background-color: rgb(223, 67, 67);
    margin: 10px;
    text-align: center;
    line-height: 80px;
    border-color: blueviolet;
}

.hide{
    display: none;
}

.flex{
    display: flex;
   
  
    background-color: grey;
}










