.container{
    display: flex;
    border: 2px solid black;
border-color: black;
width: 400px;
margin: 20px;
height: 250px;

}
.box{
    width: 60px;
    height: 60px;
    background-color: rgb(231, 146, 146);
    margin: 5px;
    text-align:center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content:flex-start ;
    align-items:flex-start;
   flex-wrap: wrap;
}

.page{
    width: 600px;
    border:2px solid #ccc;
    padding: 10px;
}

.top{
    display: flex;

}

.logo{
    width:30%;
    background: grey;
    padding: 10px;
}
.navigation{
    width:70%;
    background: grey;
    padding: 10px;
}

.header{
    background-color: grey;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}
.intro{
    background-color: grey;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}


.boxes{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.box1{
    flex:1;
    background-color: grey;
    padding: 40px;
    text-align: center;
}
.footer{
    margin-top: 10px;
    text-align: center;
   background-color: grey;

}

.userdetails{
width: 600px;
    border:2px solid #ccc;
    padding: 15px;
}

.first{
   display: flex;
   gap: 10px;
}

.username{
    flex: 1;
    width:30%;
    background: grey;
    padding: 10px;
}
.PaSsword{
     width:70%;
    background: grey;
    padding: 10px;
}

.second{
    background-color: grey;
    padding: 20px;
    margin-top: 10px;
    width: 150px;
    
   
}

.Designation{
    background-color: grey;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}
.location{
    background-color: grey;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

.third{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.salary{
    flex:1;
    background-color: grey;
    padding: 50px;
    text-align: center;
}
.fourth{
    margin-top: 10px;
    text-align: center;
   background-color: grey;
   padding: 10px;

}

.Container{
    width: 500px;
    border: 2px solid black;
    padding: 15px;
}

.row{
    background-color: pink;
    padding: 10px;
    margin-bottom: 10px;
}
.boxes{
    flex: 1;
    background-color: pink;
    padding: 20px;
    margin-bottom: 10;
    gap: 20px;
    width: 450px;
}
.BOX{
    flex:1;
    padding: 20px;
    text-align: center;
    gap: 10px;
    flex-direction: column;
}
.submit{
    text-align: center;
margin-top: 10px;}