body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(193, 223, 243);
}

.survey{
    width: 300px;
    background-color: white;
    padding: 20px;
    border: 2px greenyellow;
    text-align: center;
}

.title{
    color: rgb(255, 0, 119);

}

.lbl::before{
    content:"*"
}

.inp{
    border: 2px grey;
}

.inp:focus{
    border-color: blueviolet;
}

.btn{
    background-color:pink;
    color: black;

}
.btn:hover{
    background: darkgreen;
}

.survey{
    text-align: center;

}
.btn:focus{
    color: red;
}