/* External CSS */

h4{
    color: chartreuse;
}

p{
    color: blueviolet;

}
.para{
    color: greenyellow;
}

#text{
    color: red;
}

.profile{
    font-size: 22px;
    color: black;
    cursor: pointer;
}

.profile::after{
    content:"Working in Nyb";
    color: blue; 
}

.profile:hover{
    color: green;
}

.profile::first-letter{
    color: orange;
}

.profile::selection{
    background-color: yellow;
    color: black;
}
.profile{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}